@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .li {
    @apply hover:bg-secondary w-60 p-3 rounded-lg text-lg;
  }
  .liactive {
    @apply bg-secondary w-60 p-3 rounded-lg text-lg;
  } */
  .titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  .bar-button {
    -webkit-app-region: no-drag;
    @apply px-4;
  }
  .calculator {
    @apply w-16 h-16 flex justify-center items-center text-4xl  text-center rounded-full  outline hover:bg-white hover:text-primary active:bg-secondary;
  }

  .main {
    height: 100vh;
  }
  @keyframes dance {
    0%,
    100% {
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-dance {
    animation: dance 1s infinite;
  }
  .animate-dance200 {
    animation: dance 1s infinite 200ms;
  }
  .animate-dance400 {
    animation: dance 1s infinite 400ms;
  }
}
@layer base {
  html {
    font-family: Noto Sans Thai;
  }
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}
